* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f1e6de;
}

label {
    position: relative;
    width: 120px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
        content: "";
        position: absolute;
        width: 60%;
        height: 4px;
        border-radius: 4px;
        background: #777;
    }
    input {
        position: absolute;
        appearance: none;
        &:checked~label {
            background: red;
        }
        &:checked~.box {
            left: 60px;
            transform: rotate(360deg);
        }
        &:checked~.box>svg {
            fill: #00ffe2;
            filter: drop-shadow(0 0 4px #00ffe2);
        }
    }
    .box {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 100%;
        border: 1px solid #f1f1f1;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(255, 255, 255, 0.4);
        border-radius: 50%;
        transition: 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f1f1f1;
        svg {
            font-size: 2em;
            fill: #ff0000;
            filter: drop-shadow(0 0 4px #ff0000);
            transition: 0.5s;
        }
    }
}


/* #00ffe2*/